<div dropDirective (dropEvent)="addDropItem($event)" class="droppable" [dropHighlight]="'highlight-list'">
  <mat-card class="app-list">
    
    <mat-card-header class="list-header">
      <mat-card-title style="font-size: 24px">
        
        {{list.title}}
      </mat-card-title>
      <span class="add-btn" (click)="addCard()">
        <i class="material-icons" matTooltip="Add card" [matTooltipPosition]="'below'">add_box</i>
      </span>
    </mat-card-header>
    <mat-card-content>
      
      <mat-list >
        <mat-list-item *ngFor="let card of list.cards" class="card z-depth-1" [dragDirective]='card' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event)">
          <h3 matLine> {{card.title}} </h3>
          <p matLine class="demo-2"> {{card.content}} </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>