.app-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    margin: 0  4px;
}
.list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card {
    cursor: -webkit-grab;
    cursor: grab;
}

.add-btn:hover {
    cursor: pointer;

}