<h2 mat-dialog-title>Add list</h2>
<mat-dialog-content>
  <div class="form-container">
    <mat-form-field hintLabel="Max 30 characters">
      <input matInput #titleInput maxlength="30" placeholder="Title">
      <mat-hint align="end">{{titleInput.value?.length || 0}}/30</mat-hint>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog(titleInput.value)">
    add
  </button>
</mat-dialog-actions>
