<h2 mat-dialog-title>Add card</h2>
<mat-dialog-content>
  <div class="form-container">
    <mat-form-field hintLabel="Max 30 characters">
      <input matInput #titleInput maxlength="30" placeholder="Title">
      <mat-hint align="end">{{titleInput.value?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 50 characters">
      <input matInput #contentInput maxlength="50" placeholder="Content">
      <mat-hint align="end">{{contentInput.value?.length || 0}}/50</mat-hint>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog(titleInput.value, contentInput.value)">
    save
  </button>
</mat-dialog-actions>
