<div class="app-board">

  <app-list *ngFor='let list of board.lists' [list]=list>
  </app-list>

  <div class="add-list-btn">
    <button mat-fab color="primary" (click)="addList()"  matTooltip="Add list" [matTooltipPosition]="'below'">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
